API_ID=27758016
API_HASH=8d34cfffe27ab461eabbf0091b1a27df
BOT_TOKEN=7940603237:AAGYhlsh6PezOTrZ5hCUqOVi0PqCpN7i3tA
LOG_GROUP_ID=-1002481172888
MONGO_DB_URI=mongodb+srv://marwinalone2002:0PxKXvOj7tByYpoD@cluster0.jmljy.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7224419362
STRING_SESSION=1BVtsOHYBu0GA-jqUhDB5lGeJ-ZmLKzW5GnXu5-1ovCU1zgZJa8uT-NCZw05iWwEvVa16SpSt_AT_NvV3_IZ1OEKaE_v_aF7KBZdv3x5aiQYo7g7kA-Ltky_9_amXwamIv2nzaFamkWUd3Hy5Vgctzo9356lrWoikNeh11X20VXo4i-Iz0h_2f4WVMUb7jGvEyBysWQN64CjtdOI6-JSR5bvJMlJO_vK51e2DsrUR_cZCQVqYlF_Mm1nG-eMzLm8hHJKg9ZjAtTHzvwZCDcL05uHJPKNI_3yGB-MJH3eEL4-csnAQ46Y1ki6RJfoy8JqQrKBN_4OgzLvslhLwcBbiY-kxBIJVJEc
